body {
    background-color: darkcyan;
}

.uibox {
    background-color: wheat;
    position: absolute;
    left: 25%;
    width: 50%;
    height: 50%;
    top: 25%;
    border-color: darkslategray;
    border: 30px;
    border-radius: 1%;
    text-align: center;
}

.result {
    font-size: 72;
    font-family: Consolas;
}

.interact {
    background-color: greenyellow;
    font-family: Consolas;
}