body, html {
    background-color: #402A3E;
}

.controls {
    color: whitesmoke;
    background-color: #B2CF84;
    position: absolute;
    width: 33%;
    height: 33%;
    left: 33%;
    top: 16%;
    text-align: center;
    border-radius: 1%;
}

.input:hover {background-color: #c96779;}

.input {
    color: whitesmoke;
    border-radius: 3%;
    font-family: "Consolas";
    width: 40%;
    background-color: #8C2538;
    padding: 16px 32px;
    text-align: center;
    border: none;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.output {
    border-radius: 3%;
    font-family: "Consolas";
    width: 40%;
    background-color: #DE754C;
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.output:hover {background-color: #e29d82;}

.backSign {
    color: white;
    font-size: 40;
    text-decoration: none;
}